body {
	align-content: center;
}
#main {
	border: 1px;
	border-style: solid;
	border-color: tomato;
}
#vid_div {
	padding: 20px;
}
#vid_div #tmpImg {
	/* width: 200px; */
	position:absolute;
	padding-left: 30%;

    width:200px;
    min-height:40px;
    z-index:300000;
}
#vid_div #video{
	position:absolute;
	/* position: absolute; */
	z-index: -1;
}
#canvas {
	display: none;
	/* position: absolute; */
}
