section{
	width: 100%;
}
.inline {
	display: inline;
}
#qm{
	padding-top: 50px;
}

.success{
	box-shadow:  rgba(3, 248, 44, 0.521);
	color: white;
	padding: 5px;
	font-weight: bold;
}
.danger{
	background: rgba(255, 0, 0, 0.507);
	color: white;
	padding: 5px;
	font-weight: bold;
}

/****************************************/
/*		EVERYTHING header IN HERE	   	*/
/****************************************/
#header{
	border: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;

	position: fixed;
	top: 0%;
}

/****************************************/
/*		EVERYTHING main IN HERE			*/
/****************************************/
#main{
	height: 80%;
	margin-top: 4%;
	margin-bottom: 10%;
	box-shadow: 3px 3px 6px 8px rgb(139, 139, 139);
	padding: 2%;
}
#canvas {
	display: none;
}
#vid_div #video {
	width: 100%;
}

/****************************************/
/*		EVERYTHING footer IN HERE		*/
/****************************************/
#footer{
	border: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	
	bottom: 0%;
	position: fixed;
}
